@model List<BasketVM>
<div class="minicart-item-wrapper">
    <ul class="forCount">
        @foreach (BasketVM basketVM in Model)
        {
            <li class="minicart-item">
                <div class="minicart-thumb">
                    <a >
                        <img src="~/assets/img/product/@basketVM.Image" alt="product">
                    </a>
                </div>
                <div class="minicart-content">
                    <h3 class="product-name">
                        <a>@basketVM.Title</a>
                    </h3>
                    <p>
                        <span class="cart-quantity">@basketVM.Count<strong>&times;</strong></span>
                        <span class="cart-price">$@basketVM.Price</span>
                    </p>
                </div>
                <a asp-controller="Basket" asp-action="RemoveBasket" asp-route-id="@basketVM.Id" class="removeFromBasket minicart-remove"><i class="ion-android-close"></i></a>
            </li>
        }
    </ul>
</div>

<div class="minicart-pricing-box">
    <ul>
        <li>
            <span>sub-total</span>
            <span id="subTotalBasket"><strong>$@Model.Sum(b=>b.Price*b.Count)</strong></span>
        </li>
        <li>
            <span>Eco Tax</span>
            <span id="taxesBasket"><strong>$@Model.Sum(b=>b.EcoTax)</strong></span>
        </li>
        <li class="total">
            <span>total</span>
            <span id="totalBasket"><strong>$@Model.Sum(b=>(b.Price+b.EcoTax)*b.Count)</strong></span>
        </li>
    </ul>
</div>

<div class="minicart-button">
    <a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> view cart</a>
    @if (Model.Count > 0)
    {
        <a asp-controller="Order" asp-action="CheckOut"><i class="fa fa-share"></i> checkout</a>
    }
</div>




