@model ProfileAccountVM

<div class="myaccount-content">
    <div class="account-details-form">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" asp-controller="Account" asp-action="ProfileAccount">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label asp-for="Name">First Name</label>
                        <input asp-for="Name" placeholder="First Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label asp-for="SurName">Last Name</label>
                        <input asp-for="SurName" placeholder="Last Name" />
                        <span asp-validation-for="SurName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="single-input-item">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" placeholder="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="single-input-item">
                <label asp-for="Email" >Email Addres</label>
                <input asp-for="Email" placeholder="Email Address" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <fieldset>
                <legend>Password change</legend>
                <div class="single-input-item">
                    <label asp-for="CurrentPassword">Current Password</label>
                    <input asp-for="CurrentPassword" placeholder="Current Password" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-input-item">
                            <label asp-for="NewPassword">New Password</label>
                            <input asp-for="NewPassword" placeholder="New Password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-input-item">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="single-input-item">
                <button class="btn check-btn sqr-btn ">Save Changes</button>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @await Html.PartialAsync("_Validation");
}